.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.todo-form {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.heading-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.heading-logout h2 {
  color: #007bff;
  font-size: 18px;
  margin: 0;
}

.logout-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333;
}

.search-input {
  width: 300px;
  display: block;
  padding: 10px;
  margin: 0 auto 20px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}

.todo-form form {
  display: flex;
  align-items: center;
}

.todo-form input[type="text"] {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.todo-list {
  width: 100%;
  max-width: 800px;
  margin: 0 auto; /* Centriranje .todo-list */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.todo-list h2 {
  margin-bottom: 10px;
  color: #007bff;
  text-align: center;
}

.todo-list ul {
  list-style-type: none;
  padding: 0;
}

.todo-list li {
  display: block;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li span {
  flex: 1;
  font-size: 1.8em;
}

.todo-list li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li div button {
  margin-left: 10px; /* Dodatni razmak između dugmadi */
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.todo-list li div button:hover {
  background-color: #0056b3;
}
